.vs/slnx.sqlite
.vs/config/applicationhost.config
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/IOTA101/v15/.suo
.ipynb_checkpoints/*
CodeBase/.ipynb_checkpoints/*
Developer Lab/_tooling/__pycache__/devlabmanager.cpython-36.pyc
*.pyc
/.vs
